{% extends 'base.html' %}

{% block body %}

<!-- This file will design this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/editDashboardProduct.css') }}">

<!-- This file will make this page responsive -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='responsive/editDashboardProduct.css') }}"> -->

<h1 class="page-title">
    Edit Product Details Here 👇
</h1>

<div class="form-parent">
<form class="form" method="post" enctype="multipart/form-data">
    <div class="input-group">
        <label for="form-input-1" class="form-label">Profile Image</label>
        <input type="file" name="profileImage" id="form-input-1" class="form-input-text-password">
    </div>

    <div class="input-group">
        <label for="form-input-2" class="form-label">Product Name</label>
        <input type="text" name="name" placeholder="Enter your new Product name here" id="form-input-2" class="form-input-text-password">
    </div>

    <div class="input-group">
        <label for="form-input-3" class="form-label">Product price</label>
        <input type="number" name="productPrice" placeholder="Enter your new Product price here" id="form-input-3" class="form-input-text-password">
    </div>

    <button type="submit" class="form-submit-button">Save Changes</button>

</form>
</div>

{% endblock body %}