{% extends 'base.html' %}

{% block body %}
    <!-- This file will design the home page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- This file will make the home page responsive -->
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive/home.css') }}">

    <div class="main-background-section">
        <h1 class="company-name">TB Kirana Stores</h1>
        <h4 class="company-slogan">The ultimate station for all grocery related items</h4>
    </div>

    <div class="category-section">
        <div class="category-info-and-all-section">
            <h2 class="category-name">
                Beverages
            </h2>
            <a href="/category/jflkasjfljklf" class="see-all">
                <button class="btn">See All</button>
            </a>
        </div>
        <div class="products-section">
            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="category-section">
        <div class="category-info-and-all-section">
            <h2 class="category-name">
                Beverages
            </h2>
            <a href="/category/jflkasjfljklf" class="see-all">
                <button class="btn">See All</button>
            </a>
        </div>
        <div class="products-section">
            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="category-section">
        <div class="category-info-and-all-section">
            <h2 class="category-name">
                Beverages
            </h2>
            <a href="/category/jflkasjfljklf" class="see-all">
                <button class="btn">See All</button>
            </a>
        </div>
        <div class="products-section">
            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>

            <div class="product">
                <img src="{{ url_for('static', filename='img/product-img.jpg') }}" class="product-img">
                <a href="/product/flksjlsj" class="product-name-anchor"><h4 class="product-name">Pepsi Cold Drink Can</h4></a>
                <span class="price">Rs. 45/-</span>
                <button class="btn add-to-cart">Add to Cart</button>
            </div>
        </div>
    </div>
{% endblock body %}