{% extends 'base.html' %}

{% block body %}

<!-- This file will design this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/viewOrder.css') }}">

<!-- This file will make this page responsive -->
<link rel="stylesheet" href="{{ url_for('static', filename='responsive/viewOrder.css') }}">

<!-- This file will design this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">

<!-- This file will make this page responsive -->
<link rel="stylesheet" href="{{ url_for('static', filename='responsive/orders.css') }}">

<h1 class="order-number">Order #112</h1>

<h3 class="order-date-detail">
    This order was placed on 55 April 2157
</h3>

<table class="orders-table">
    <thead>
        <tr class="orders-table-th-parent">
            <th>Sno.</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="orders-table-td-parent">
            <td>1</td>
            <td>Pepsi Cold Drink can</td>
            <td>Rs 150/-</td>
            <td>2</td>
            <td>Rs 300/-</td>
        </tr>
        <tr class="orders-table-td-parent">
            <td>1</td>
            <td>Pepsi Cold Drink can</td>
            <td>Rs 150/-</td>
            <td>2</td>
            <td>Rs 300/-</td>
        </tr>
        <tr class="orders-table-td-parent">
            <td>1</td>
            <td>Pepsi Cold Drink can</td>
            <td>Rs 150/-</td>
            <td>2</td>
            <td>Rs 300/-</td>
        </tr>
        <tr class="orders-table-td-parent">
            <td>1</td>
            <td>Pepsi Cold Drink can</td>
            <td>Rs 150/-</td>
            <td>2</td>
            <td>Rs 300/-</td>
        </tr>
    </tbody>
</table>

<h3 class="total-price">
    Total Rs 1200/- for 4 items
</h3>

<div class="adress-info">
    <div class="adress-title-parent">
        <h3>Billing Adress</h3>
        <hr>
    </div>
    <div class="main-adress">
        <div class="user-real-name-of-adress adress-info-div">
            Demo User
        </div>
        <div class="house-number adress-info-div">
            Flat no. 84
        </div>
        <div class="residence-name adress-info-div">
            Some Residence
        </div>
        <div class="city-pincode-info adress-info-div">
            Random City, 0000000
        </div>
        <div class="state-country-info adress-info-div">
            State, Country
        </div>
        <div class="mobile-number adress-info-div">
            +0000000000000
        </div>
    </div>
</div>

{% endblock body %}