@import 'colorcode';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

::selection{
    background: $mainTextColorOfWebsite;
    color: white;
}

body{
    background-color: rgb(240, 240, 240);
}


.btn{
    width: 11vw;
    background-color: $mainTextColorOfWebsite;
    border: none;
    padding: 1.2vh 1.2vw;
    border-radius: 12px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.12rem;
    border: 1px solid $mainTextColorOfWebsite;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.6;
}