@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap'); /* Importing Font for greeting */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap'); /* Importing Font for buttons */

.page-title{
    text-align: center;
    margin-top: 1.8vh;
    margin-bottom: 1.8vh;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3rem;
}

.dashboard-buttons-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 3vh auto;
}

.dashboard-btn{
    width: 40vw;
    height: 7vh;
    font-family: 'Baloo Bhaijaan 2', cursive;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    font-size: 1.3rem;
    margin-bottom: 2vh;
}

.edit-dashboard-details-btn{
    background-color: rgb(255, 88, 88);
}

.dashboard-categories-btn{
    background-color: rgb(78, 78, 187);
}

.dashboard-products-btn{
    background-color: rgb(41, 172, 96);
}

.logout-btn{
    background-color: rgb(27, 154, 238);
}