@import '_colorcode';

.website-footer{
    background-color: rgb(185, 185, 185);
    // margin-top: 5%;
    // padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    text-align: center;
    font-size: 2.1rem;
}