@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

.navigation-bar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vh 1.2vw;
    transition: all 0.2s ease;
}

.visibility-resp{
    transition: opacity 0.2s ease-out;
}

.company-logo-anchor{
    align-self: flex-start;
    transition: all 3s ease;
}

.navbar-img-parent{
    display: flex;
}

.navbar-img-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navabr-img-name{
    white-space: nowrap;
    font-family: 'Rowdies', cursive;
}

.navbar-img{
    height: 40px;
    width: 40px;
}

.company-logo{
    height: 75px;
    width: 75px;
}

.search-input{
    width: 40vw;
    height: 4.2rem;
    border: none;
    padding: 1.2vh 1.2vw;
    padding-left: 3.4vw;
    background-color: rgb(233, 233, 233);
    font-size: 1.1rem;
    border-radius: 12px;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-size: 2vw 4.8vh;
    background-position: 2% 50%;
}

.search-input:focus{
    outline: none;
}

.navbar-img-parent > *{
    padding-left: 1.3vw;
    padding-right: 1.3vw;
}

.hamburger{
    position: absolute;
    top: 5%;
    right: 3%;
    display: none;
}

.line{
    background-color: black;
    width: 50px;
    height: 7px;
    margin-bottom: 5px;
}

/* Desigining auth and dashborard buttons */

.navbar-auth-btn{
    width: 5vw;
    height: 7vh;
    font-family: 'Rowdies', cursive;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1rem;
    margin-left: 1.1vw;
    text-align: center;
}

.navbar-auth-btn:hover{
    opacity: 0.8;
}

.login-btn{
    background-color: rgb(255, 88, 88);
}

.signup-btn{
    background-color: rgb(78, 78, 187);
}