@media only screen and (max-width: 654px) {
    .navigation-bar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger{
        display: initial;
    }

    .company-logo-anchor{
        position: absolute;
        top: 3%;
        left: 3%;
    }

    .company-logo{
        height: 55px;
        width: 55px;
    }

    .h-resp{
        height: 18vh;
    }

    .v-resp{
        opacity: 0;
    }

    .navbar-img-parent{
        flex-direction: column;
        margin-top: 5vh;
    }
}